{% extends 'layout.html' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block cuerpo %}
<br><br>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">  
                        {% if mensaje != '' %}
                            {% if "Usuario" in mensaje %}
                            <div class="alert alert-dark" role="alert">
                                {{ mensaje }}
                            </div>
                            {% else %}
                            <div class="alert alert-warning" role="alert">
                                {{ mensaje }}
                            </div>
                            {%endif%}
                        {% endif %}
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ titulo }}</h3></div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">Ingresa un email para recuperar {{ descripcion }}.</div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputEmail" name="inputEmail" type="email" placeholder="name@example.com" required=True/>                                            
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="{% url 'login' %}">Regresar al login</a>
                                            <button class="btn btn-primary" type="submit">Enviar Correo</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="{% url 'register' %}">Registrarse</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>        
    </div>
</body>
{% endblock %}