{% extends 'layout.html' %}

{% block titulo %}Login{% endblock %}

{% block cuerpo %}
<br><br><br>
<body class="bg-primary">
   <div id="layoutAuthentication">
       <div id="layoutAuthentication_content">
           <main>
               <div class="container">
                   <div class="row justify-content-center">
                       <div class="col-lg-5">
                           {% if login_wrong == True %}
                            <div class="alert alert-dark" role="alert">
                                Usuario o Contraseña Incorrecto.
                            </div>
                            {% endif %}   
                           <div class="card shadow-lg border-0 rounded-lg mt-5">
                               <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                               <div class="card-body">
                                   <form method="POST">
                                     {% csrf_token %}
                                     {{ form.as_p }}                                       
                                       <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <div class="container" class='row'>
                                                <a class="small" href="{% url 'credentials' 'usuario' %}">Olvidaste tu Usuario?</a>  
                                                <br>                                              
                                                <a class="small" href="{% url 'credentials' 'password' %}">Olvidaste tu Contraseña?</a>
                                            </div>
                                                                                                                         
                                            <button class="btn btn-primary" type="submit" id="submit">Login</button>                                                
                                       </div>
                                   </form>
                               </div>
                               <div class="card-footer text-center py-3">
                                   <div class="small"><a href="{% url 'register' %}">Registrarse</a></div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </main>
       </div>       
   </div>
</body>
{% endblock %}